body {
  background-image: url("../images/symphony.png");
}

.navbar-header-custom {
  padding-left: 30px;
}

.navbar-brand-custom {
  letter-spacing: 1px;
}

.about-me-content {
  max-width: 100%;
  padding: 30px;
  margin-top: 28px;
  background-color: #fff;
}

.about-me-content > p {
  font-size: 16px;
  line-height: 30px;
  color: #bbc;
}

.about-me-heading {
  margin-bottom: 25px;
}

.hr-custom {
  padding-bottom: 25px;
}

#amy-image {
  float: left;
  height: 250px;
  margin-right: 20px;
}

.connect-with-me-content {
  max-width: 100%;
  padding: 30px;
  margin-top: 28px;
  background-color: #fff;
}

.connect-with-me-heading {
  margin-bottom: 25px;
  text-align: center;
}

#connect-with-me-images {
  margin-left: 53px;
}

.connect-with-me-github {
  height: 55px;
  width: 55px;
  margin-right: 15px;
}
.connect-with-me-linkedin {
  height: 55px;
  width: 55px;
}

footer {
  max-width: 100%;
  height: 52px;
  margin-top: 30px;
  background-color: #787878;
}

.footer-top {
  max-width: 100%;
  height: 6px;
  background-color: #E95420;
}

.footer-text {
  padding-top: 18px;
  color: #fff;
}
