body {
  background-image: url("../images/symphony.png");
}

/*navbar*/
.navbar-header-custom {
  padding-left: 30px;
}

.navbar-brand-custom {
  letter-spacing: 1px;
}

/*about.html*/
.about-me-content {
  max-width: 100%;
  padding: 30px;
  margin-top: 28px;
  background-color: #fff;
}

.about-me-content > p {
  font-size: 16px;
  line-height: 30px;
  color: #bbc;
}

.about-me-heading {
  margin-bottom: 25px;
}

.hr-custom {
  padding-bottom: 25px;
}

#amy-image {
  float: left;
  height: 250px;
  margin-right: 20px;
}

/*contact.html*/
.contact-content {
  max-width: 100%;
  padding: 30px;
  margin-top: 28px;
  background-color: #fff;
}

.contact-heading {
  margin-bottom: 25px;
}

.form-input {
  margin-top: 8px;
}

label {
  color: #bbc;
  font-weight: lighter;
}

input[type=text], select {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text]:focus {
  outline: 2px solid gray;
}

input[type=email], select {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email]:focus {
  outline: 2px solid gray;
}

textarea {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin: 8px 0;
  border-radius: 4px;
}

textarea:focus {
  outline: 2px solid grey;
}

input[type=submit] {
    width: 15%;
    background-color: #e95420;
    color: white;
    padding: 14px 20px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #d06b46;
}

/*portfolio.html*/
.portfolio-content {
  max-width: 100%;
  padding: 30px;
  margin-top: 28px;
  background-color: #fff;
}

.portfolio-heading {
  margin-bottom: 25px;
}

/*connect*/
.connect-with-me-content {
  max-width: 100%;
  padding: 30px;
  margin-top: 28px;
  background-color: #fff;
}

.connect-with-me-heading {
  margin-bottom: 15px;
  text-align: center;
}

#connect-with-me-images {
  text-align: center;
}

.connect-with-me-github {
  height: 65px;
  width: 65px;
}

.connect-with-me-linkedin {
  height: 65px;
  width: 65px;
}

/*footer*/
footer {
  max-width: 100%;
  height: 52px;
  margin-top: 30px;
  background-color: #787878;
}

.footer-top {
  max-width: 100%;
  height: 6px;
  background-color: #E95420;
}

.footer-text {
  padding-top: 18px;
  color: #fff;
}

/*media query*/
@media only screen and (max-width: 500px) {
    body {
        
    }
}
